<a href="https://colab.research.google.com/github/AMANVISHWAKARMA27/Machine-Learning/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Creating series from a list.
list = ['g', 'e', 'k', 's']
data = pd.Series(list)
data

0    g
1    e
2    k
3    s
dtype: object

In [ ]:
#Converting a dictionary into Series.
data = {'Name':'Aman', 'Class': 'BTech' ,'branch':'IT'}
data = pd.Series(data)
data

Name       Aman
Class     BTech
branch       IT
dtype: object

In [ ]:
#Converting a 1D array into Series
data = np.array([1,2,3,4,5])
data = pd.Series(data)
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
data = np.array([
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
])
data = pd.Series(data)
data

ValueError: ignored

In [ ]:
data = np.array(['a','b','c','d','e'])
data = pd.Series(data, index=[10,11,12,13,14])
data

10    a
11    b
12    c
13    d
14    e
dtype: object

In [ ]:
np.linspace(3,33,3)

array([ 3., 18., 33.])

In [ ]:
pd.Series(range(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
pd.Series(range(2,9))

0    2
1    3
2    4
3    5
4    6
5    7
6    8
dtype: int64

In [ ]:
pd.Series(range(3,10,2))

0    3
1    5
2    7
3    9
dtype: int64

In [ ]:
#Printing indices using for loop.
pd.Series(range(1,20,3), index=[x for x in 'abcdefg'])

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

CONVERTING SERIES INTO NUMPY ARRAYS

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv("nba.csv")
data.dropna(inplace=True)
arr = pd.Series(data['Weight'].head())
arr.to_numpy()

array([180., 235., 185., 235., 238.])